form {
  background-color: #f4f1ec;
  width: 90%;
  margin-left: 5%;
}

.tweet-button {
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", cursive;
  font-size: 50%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

textarea {
  width: 100%;
  line-height: 50%;
  background-color: #f4f1ec;
  border-style: none;
  border-bottom: 1px solid #343a3f;
}

.button-counter {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: "Bungee", cursive;
  font-size: 15px;
}
